# **Data Science Project on Book Recommendation System**

## 1. Exploratory Data Analysis

### 1.1 Books Dataset

In [33]:
# Import necessary Libraries
import pandas as pd
import numpy as np

In [34]:
# Load the Datsets
books = pd.read_csv("C:/Users/Shreyas/Desktop/ExcelR Data Science Project/Dataset/books.csv")
users = pd.read_csv("C:/Users/Shreyas/Desktop/ExcelR Data Science Project/Dataset/users.csv")
ratings = pd.read_csv("C:/Users/Shreyas/Desktop/ExcelR Data Science Project/Dataset/ratings.csv")

C:\Users\Shreyas\AppData\Local\Temp\ipykernel_33324\2381400437.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("C:/Users/Shreyas/Desktop/ExcelR Data Science Project/Dataset/books.csv")

In [35]:
# Check the shape of the dataset
print("Shape of the Book Dataset:", books.shape)
print("Shape of the Users Dataset:", users.shape)
print("Shape of the Ratings Dataset:", ratings.shape)

Shape of the Book Dataset: (271360, 8)
Shape of the Users Dataset: (278858, 3)
Shape of the Ratings Dataset: (1149780, 3)

In [36]:
# Check for the first five rows
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [37]:
#Describe the data
books.describe()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
count,271360,271360,271359,271360,271358,271360,271360,271357
unique,271360,242135,102023,202,16807,271044,271044,271041
top,0195153448,Selected Poems,Agatha Christie,2002,Harlequin,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/225307649X.0...
freq,1,27,632,13903,7535,2,2,2

In [38]:
#Check for the data type of each column
books.dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

In [39]:
# Check for null values
null_values = books.isnull().sum()
print("Null values in each column:\n", null_values)

# Check for blank values (empty strings) in each column
blank_values = (books.applymap(lambda x: x == '')).sum()
print("Blank values in each column:\n", blank_values)

Null values in each column:
 ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64
Blank values in each column:
 ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
dtype: int64

In [40]:
#Replace the Null Values of Book and Publisher Column with "missing"
books['Book-Author'].fillna('missing', inplace=True)
books['Publisher'].fillna('missing', inplace=True)

In [41]:
# Check for null values after replacing the null values
null_values = books.isnull().sum()
print("Null values in each column:\n", null_values)

Null values in each column:
 ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [42]:
#Convert any character data to NaN
books['Year-Of-Publication'] = pd.to_numeric(books['Year-Of-Publication'],errors='coerce')

In [43]:
#Print Unique Years
Years = books['Year-Of-Publication'].unique()
Years.sort()
Years

array([   0., 1376., 1378., 1806., 1897., 1900., 1901., 1902., 1904.,
       1906., 1908., 1909., 1910., 1911., 1914., 1917., 1919., 1920.,
       1921., 1922., 1923., 1924., 1925., 1926., 1927., 1928., 1929.,
       1930., 1931., 1932., 1933., 1934., 1935., 1936., 1937., 1938.,
       1939., 1940., 1941., 1942., 1943., 1944., 1945., 1946., 1947.,
       1948., 1949., 1950., 1951., 1952., 1953., 1954., 1955., 1956.,
       1957., 1958., 1959., 1960., 1961., 1962., 1963., 1964., 1965.,
       1966., 1967., 1968., 1969., 1970., 1971., 1972., 1973., 1974.,
       1975., 1976., 1977., 1978., 1979., 1980., 1981., 1982., 1983.,
       1984., 1985., 1986., 1987., 1988., 1989., 1990., 1991., 1992.,
       1993., 1994., 1995., 1996., 1997., 1998., 1999., 2000., 2001.,
       2002., 2003., 2004., 2005., 2006., 2008., 2010., 2011., 2012.,
       2020., 2021., 2024., 2026., 2030., 2037., 2038., 2050.,   nan])

In [44]:
#Replac the N/A values with the year 2024
books['Year-Of-Publication'].fillna(2024, inplace=True)

In [45]:
#Check for the books published before 1800 and after 2024
books[(books['Year-Of-Publication']<1800) | (books['Year-Of-Publication']>2024)]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
176,3150000335,Kabale Und Liebe,Schiller,0.0,"Philipp Reclam, Jun Verlag GmbH",http://images.amazon.com/images/P/3150000335.0...,http://images.amazon.com/images/P/3150000335.0...,http://images.amazon.com/images/P/3150000335.0...
188,342311360X,Die Liebe in Den Zelten,Gabriel Garcia Marquez,0.0,Deutscher Taschenbuch Verlag (DTV),http://images.amazon.com/images/P/342311360X.0...,http://images.amazon.com/images/P/342311360X.0...,http://images.amazon.com/images/P/342311360X.0...
288,0571197639,Poisonwood Bible Edition Uk,Barbara Kingsolver,0.0,Faber Faber Inc,http://images.amazon.com/images/P/0571197639.0...,http://images.amazon.com/images/P/0571197639.0...,http://images.amazon.com/images/P/0571197639.0...
351,3596214629,"Herr Der Fliegen (Fiction, Poetry and Drama)",Golding,0.0,Fischer Taschenbuch Verlag GmbH,http://images.amazon.com/images/P/3596214629.0...,http://images.amazon.com/images/P/3596214629.0...,http://images.amazon.com/images/P/3596214629.0...
542,8845229041,Biblioteca Universale Rizzoli: Sulla Sponda De...,P Coelho,0.0,Fabbri - RCS Libri,http://images.amazon.com/images/P/8845229041.0...,http://images.amazon.com/images/P/8845229041.0...,http://images.amazon.com/images/P/8845229041.0...
...,...,...,...,...,...,...,...,...
270794,014029953X,Foe (Essential.penguin S.),J.M. Coetzee,0.0,Penguin Books Ltd,http://images.amazon.com/images/P/014029953X.0...,http://images.amazon.com/images/P/014029953X.0...,http://images.amazon.com/images/P/014029953X.0...
270913,0340571187,Postmens House,Maggie Hemingway,0.0,Trafalgar Square,http://images.amazon.com/images/P/0340571187.0...,http://images.amazon.com/images/P/0340571187.0...,http://images.amazon.com/images/P/0340571187.0...
271094,8427201079,El Misterio De Sittaford,Agatha Christie,0.0,Editorial Molino,http://images.amazon.com/images/P/8427201079.0...,http://images.amazon.com/images/P/8427201079.0...,http://images.amazon.com/images/P/8427201079.0...
271182,0887781721,Tom Penny,Tony German,0.0,P. Martin Associates,http://images.amazon.com/images/P/0887781721.0...,http://images.amazon.com/images/P/0887781721.0...,http://images.amazon.com/images/P/0887781721.0...
271196,3150013763,Der Hofmeister,Jakob Lenz,0.0,"Philipp Reclam, Jun Verlag GmbH",http://images.amazon.com/images/P/3150013763.0...,http://images.amazon.com/images/P/3150013763.0...,http://images.amazon.com/images/P/3150013763.0...

In [46]:
# Change the data type of year column to integer
books['Year-Of-Publication'] = books['Year-Of-Publication'].astype(int)

In [47]:
#Verify the data type
books.dtypes

ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication     int32
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

In [48]:
# Replace the Year before 1800 and after 2024 with 1800 and 2024 respectively.
books.loc[books['Year-Of-Publication']<=1800,'Year-Of-Publication'] = 1800
books.loc[books['Year-Of-Publication']>=2024,'Year-Of-Publication'] = 2024

In [49]:
books[books['Year-Of-Publication']==1800].value_counts()

ISBN        Book-Title                                  Book-Author             Year-Of-Publication  Publisher                  Image-URL-S                                                   Image-URL-M                                                   Image-URL-L
0001046438  Liar                                        Stephen Fry             1800                 Harpercollins Uk           http://images.amazon.com/images/P/0001046438.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0001046438.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0001046438.01.LZZZZZZZ.jpg    1
1857993284  Sophies World                               Jostein Gaarder         1800                 Phoenix Publishing Inc     http://images.amazon.com/images/P/1857993284.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/1857993284.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/1857993284.01.LZZZZZZZ.jpg    1
1853268496  Sense and Sensibility                       Jane Austen             1800                 Universal Sales Marketing  http://images.amazon.com/images/P/1853268496.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/1853268496.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/1853268496.01.LZZZZZZZ.jpg    1
185326847X  Northanger Abbey                            Jane Austen             1800                 Universal Sales Marketing  http://images.amazon.com/images/P/185326847X.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/185326847X.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/185326847X.01.LZZZZZZZ.jpg    1
1853268461  Frankenstein                                Mary Shelley            1800                 Universal Sales Marketing  http://images.amazon.com/images/P/1853268461.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/1853268461.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/1853268461.01.LZZZZZZZ.jpg    1
                                                                                                                                                                                                                                                                                                                           ..
0571145620  The Spitting Image Treasure Island          Robert Loius Stevenson  1800                 Faber Faber Inc            http://images.amazon.com/images/P/0571145620.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0571145620.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0571145620.01.LZZZZZZZ.jpg    1
0571145574  Tooth and Claw the Inside Story of Spittin  Lewis Chester           1800                 Faber Faber Inc            http://images.amazon.com/images/P/0571145574.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0571145574.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0571145574.01.LZZZZZZZ.jpg    1
057114456X  Immortality                                 Milan Kundera           1800                 Faber Faber Inc            http://images.amazon.com/images/P/057114456X.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/057114456X.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/057114456X.01.LZZZZZZZ.jpg    1
0571142745  Buddha of Suburbia                          Hanif Kureishi          1800                 Faber Faber Inc            http://images.amazon.com/images/P/0571142745.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0571142745.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0571142745.01.LZZZZZZZ.jpg    1
B0002K6K8O  The Underground City                        Jules Verne             1800                 Digireads.com              http://images.amazon.com/images/P/B0002K6K8O.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/B0002K6K8O.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/B0002K6K8O.01.LZZZZZZZ.jpg    1
Length: 4620, dtype: int64

In [50]:
books[books['Year-Of-Publication']==2024].value_counts()

ISBN        Book-Title                                                                     Book-Author                  Year-Of-Publication  Publisher                                   Image-URL-S                                                   Image-URL-M                                                   Image-URL-L
0140201092  Outline of European Architecture (Pelican S.)                                  Nikolaus Pevsner             2024                 Penguin USA                                 http://images.amazon.com/images/P/0140201092.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0140201092.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0140201092.01.LZZZZZZZ.jpg    1
0140301690  Alice's Adventures in Wonderland and Through the Looking Glass (Puffin Books)  Lewis Carroll                2024                 Puffin Books                                http://images.amazon.com/images/P/0140301690.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0140301690.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0140301690.01.LZZZZZZZ.jpg    1
0380000059  CLOUT                                                                          D. GIBBONS                   2024                 Avon                                        http://images.amazon.com/images/P/0380000059.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0380000059.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0380000059.01.LZZZZZZZ.jpg    1
0394701658  Three Plays of Eugene Oneill                                                   Eugene O'Neill               2024                 Vintage Books USA                           http://images.amazon.com/images/P/0394701658.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0394701658.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0394701658.01.LZZZZZZZ.jpg    1
0671266500  FOREST PEOPLE (Touchstone Books (Hardcover))                                   Colin M. Turnbull            2024                 Simon &amp; Schuster                        http://images.amazon.com/images/P/0671266500.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0671266500.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0671266500.01.LZZZZZZZ.jpg    1
0671740989  FOOTBALL SUPER TEAMS : FOOTBALL SUPER TEAMS                                    Bill Gutman                  2024                 Simon &amp; Schuster Children's Publishing  http://images.amazon.com/images/P/0671740989.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0671740989.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0671740989.01.LZZZZZZZ.jpg    1
0671746103  MY TEACHER FRIED MY BRAINS (RACK SIZE) (MY TEACHER BOOKS)                      Coville                      2024                 Aladdin                                     http://images.amazon.com/images/P/0671746103.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0671746103.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0671746103.01.LZZZZZZZ.jpg    1
0671791990  MY TEACHER FLUNKED THE PLANET (RACK SIZE) (MY TEACHER BOOKS)                   Bruce Coville                2024                 Aladdin                                     http://images.amazon.com/images/P/0671791990.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0671791990.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0671791990.01.LZZZZZZZ.jpg    1
0684718022  In Our Time: Stories (Scribner Classic)                                        Ernest Hemingway             2024                 Collier Books                               http://images.amazon.com/images/P/0684718022.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0684718022.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0684718022.01.LZZZZZZZ.jpg    1
068471809X  To Have and Have Not                                                           Ernest Hemingway             2024                 Simon &amp; Schuster                        http://images.amazon.com/images/P/068471809X.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/068471809X.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/068471809X.01.LZZZZZZZ.jpg    1
0870446924  Field Guide to the Birds of North America, 3rd Ed.                             National Geographic Society  2024                 National Geographic                         http://images.amazon.com/images/P/0870446924.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0870446924.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0870446924.01.LZZZZZZZ.jpg    1
0870449842  Crossing America                                                               National Geographic Society  2024                 National Geographic                         http://images.amazon.com/images/P/0870449842.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/0870449842.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/0870449842.01.LZZZZZZZ.jpg    1
3442436893  Das groÃ?Â?e BÃ?Â¶se- MÃ?Â¤dchen- Lesebuch.                                    Kathy Lette                  2024                 Goldmann                                    http://images.amazon.com/images/P/3442436893.01.THUMBZZZ.jpg  http://images.amazon.com/images/P/3442436893.01.MZZZZZZZ.jpg  http://images.amazon.com/images/P/3442436893.01.LZZZZZZZ.jpg    1
dtype: int64

### 1.2 Users Dataset

In [51]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [52]:
#Describe the data
users.describe()

            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

In [53]:
#Check the data type of each column
users.dtypes

User-ID       int64
Location     object
Age         float64
dtype: object

In [54]:
# Check for null values
null_values = users.isnull().sum()
print("Null values in each column:\n", null_values)

# Check for blank values (empty strings) in each column
blank_values = (users.applymap(lambda x: x == '')).sum()
print("Blank values in each column:\n", blank_values)

Null values in each column:
 User-ID          0
Location         0
Age         110762
dtype: int64
Blank values in each column:
 User-ID     0
Location    0
Age         0
dtype: int64

In [55]:
#replace null age value with average age values
average_age = users['Age'].mean(skipna=True)
users['Age'].fillna(average_age, inplace=True)

In [56]:
#Verify Replacement:
null_values_after = users.isnull().sum()
print("Null values after replacement:\n", null_values_after)

Null values after replacement:
 User-ID     0
Location    0
Age         0
dtype: int64

In [57]:
#Convert the data type of Age column to integer
users['Age'] = users['Age'].astype(int)

In [58]:
#Verify the Datatype
users.dtypes

User-ID      int64
Location    object
Age          int32
dtype: object

### 1.3 Ratings Dataset

In [59]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [60]:
#Describe the Data
ratings.describe()

            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

In [61]:
#Check the data type of each column
ratings.dtypes

User-ID         int64
ISBN           object
Book-Rating     int64
dtype: object

In [62]:
# Check for null values
null_values = ratings.isnull().sum()
print("Null values in each column:\n", null_values)

# Check for blank values (empty strings) in each column
blank_values = (ratings.applymap(lambda x: x == '')).sum()
print("Blank values in each column:\n", blank_values)

Null values in each column:
 User-ID        0
ISBN           0
Book-Rating    0
dtype: int64
Blank values in each column:
 User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [63]:
ratings['Book-Rating'].value_counts()

0     716109
8     103736
10     78610
7      76457
9      67541
5      50974
6      36924
4       8904
3       5996
2       2759
1       1770
Name: Book-Rating, dtype: int64

In [64]:
# Checking for Duplicate values in the dataset
print("Duplicate values in Books Dataset:", books.duplicated().sum())
print("Duplicate values in Users Dataset:", users.duplicated().sum())
print("Duplicate values in Ratings Dataset:", ratings.duplicated().sum())

Duplicate values in Books Dataset: 0
Duplicate values in Users Dataset: 0
Duplicate values in Ratings Dataset: 0